@blue: #FFFFFF;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

body{
  height: 100vh;
}
.jumbotron{
  background-color: @blue;
  color: white;
  //margin-top: 50px;
  .margenes(50px, 0px)
}

.card-supermercado{
  flex: 1 300px;
  padding:0px 0px 0px 0px;
}

footer{
  padding: 10px 10px 0px 10px;
  background-color: @blue;
  margin-bottom: 0%;
}

.btn-visitar{
  width: 100%;
}
.color-a{
  color: white;
}
.footer-addres-icon{
  padding-right: 10px;
}
.btn-icon-visitar{
  padding-right: 10px;
}
.breadcrumb-item-index{
  color: blue !important;
}
.card-tiendas{
  width: 18rem;
}
.card-header-tiendas{
  background-color: black;
  color: white;
}
.tab-content{
  padding-top: 10px;
}
.img-1{
  padding-bottom: 24px;
  padding-top: 24px;
}
.img-2{
  padding-bottom: 14px;
  padding-top: 14px;
}