body {
  height: 100vh;
}
.jumbotron {
  background-color: #2e71ff;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-supermercado {
  flex: 1 300px;
  padding: 0px 0px 0px 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #2e71ff;
  margin-bottom: 0%;
}
.btn-visitar {
  width: 100%;
}
.color-a {
  color: white;
}
.footer-addres-icon {
  padding-right: 10px;
}
.btn-icon-visitar {
  padding-right: 10px;
}
.breadcrumb-item-index {
  color: blue !important;
}
.card-tiendas {
  width: 18rem;
}
.card-header-tiendas {
  background-color: black;
  color: white;
}
.tab-content {
  padding-top: 10px;
}
.img-1 {
  padding-bottom: 24px;
  padding-top: 24px;
}
.img-2 {
  padding-bottom: 14px;
  padding-top: 14px;
}
